

body {
    margin: 0;
    overflow-x: hidden;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
    
}

label {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: left;
    width: auto;
    line-height: 26px;
    margin-bottom: 5px;
    font-size: 24px;
    
    
    
  }

#textinput, textarea {
    font-size: 18;
    margin-bottom: 20px;
    border-radius: 5px;
    
}

#textarea {
    height: 50vh;
    width: 50vw;
    max-width: 80vw;
    
}

#edit{
    text-align: right;
    
    display: flex;
    justify-content: right;
    margin-right: 20px;
    
    position: absolute;
    top: 7vh;
    right: 5vw;
}

#submit{
    font-weight: bold;
    color: white;
    width: 80px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: rgb(145, 145, 252);
}
#submit:hover{
    background-color: rgb(109, 109, 255);
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

#submit:focus{
    box-shadow: none;
    background-color: rgb(101, 101, 250);
}

.main {
    padding: 10px;
    max-width: 80vw;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
}